:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar-item{
  color: #000;
  transition: 0.3s all
}

.navbar-item:hover{
  color: rgb(29, 181, 190)
}


.button-play-animation {
  display: inline-block;
  position: relative;
}
.button-play-animation.is-play {
  background-color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.button-play-animation.is-play .button-outer-circle {
  background: rgb(29, 181, 190, 0.3);
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  height: 120%;
  width: 120%;
}
.button-play-animation.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.button-play-animation.is-play .button-icon .triangle {
  -webkit-animation: fadeIn 3s ease;
          animation: fadeIn 3s ease;
}
.button-play-animation.is-play .button-icon .path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  -webkit-animation: triangleStroke 2s;
          animation: triangleStroke 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.has-scale-animation {
  -webkit-animation: smallScale 2s infinite;
          animation: smallScale 2s infinite;
}
.has-delay-short {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* image animation hover */

/* Zoom In #1 */
.hover-img figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-img figure:hover img {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}
.description-content h2,
.description-content h3,
.description-content h4,
.description-content h5{
  margin: 15px 0
}


.description-content ul{
  padding-left: 12px;
}

.description-content ul li{
  padding: 5px 0
}

.post-content
{
  color: #000;
  line-height: 1.5;
  text-align: justify;
}
.post-content p,
.post-content li{
  padding: 5px 0;
  font-weight: 300;
  line-height: 1.8;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5{
  padding: 10px 0
}

.post-content img{
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}
.post-content ul,
.post-content ol{
  padding-left: 25px;
}

.post-content h2{
  font-size: 20px;
}

.post-content h3{
  font-size: 18px;
}

.post-content h4,
.post-content h5{
  font-size: 17px;
}

.scale-pattern{
  -webkit-animation: bgScale 1s infinite;
  animation: bgScale 1s infinite;
}

@-webkit-keyframes bgScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5,1.5);
    opacity: 0;
  }
}

@keyframes bgScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}




.about-content{
  font-size: 18px;
}
.about-content p{
  padding: 5px 0;
}

.about-content ul{
  padding-left: 0px;
  list-style: none;
}

.about-content li{
  padding: 5px 0;
  display: flex;
  font-weight: 500;
  text-align: justify;
}

.about-content li::before{
  content: url('data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%2010C0%204.477%204.477%200%2010%200C11.595%200%2013.105%200.374%2014.445%201.04C14.5636%201.09784%2014.6696%201.17858%2014.7568%201.27756C14.8441%201.37654%2014.9108%201.49181%2014.9533%201.61673C14.9958%201.74164%2015.0132%201.87373%2015.0044%202.00538C14.9956%202.13703%2014.9609%202.26565%2014.9022%202.3838C14.8434%202.50196%2014.7619%202.60734%2014.6623%202.69385C14.5627%202.78036%2014.4469%202.8463%2014.3217%202.88787C14.1965%202.92944%2014.0642%202.94581%2013.9327%202.93605C13.8011%202.92629%2013.6727%202.89059%2013.555%202.831C11.9626%202.04121%2010.1525%201.80425%208.41039%202.15755C6.66833%202.51084%205.09354%203.43425%203.93461%204.78202C2.77568%206.12979%202.09862%207.82515%202.01031%209.60048C1.922%2011.3758%202.42746%2013.13%203.44692%2014.5861C4.46637%2016.0423%205.94175%2017.1174%207.64015%2017.6418C9.33855%2018.1663%2011.1632%2018.1101%2012.8262%2017.4823C14.4891%2016.8544%2015.8956%2015.6906%2016.8236%2014.1745C17.7516%2012.6585%2018.1483%2010.8765%2017.951%209.11C17.9366%208.97947%2017.948%208.84736%2017.9846%208.72124C18.0212%208.59511%2018.0823%208.47743%2018.1644%208.37492C18.3301%208.16788%2018.5714%208.03517%2018.835%208.006C19.0986%207.97683%2019.363%208.05357%2019.5701%208.21935C19.6726%208.30144%2019.7579%208.40292%2019.8212%208.51799C19.8845%208.63306%2019.9246%208.75947%2019.939%208.89C19.979%209.255%2020%209.625%2020%2010C20%2015.523%2015.523%2020%2010%2020C4.477%2020%200%2015.523%200%2010ZM19.707%202.293C19.8945%202.48053%2019.9998%202.73484%2019.9998%203C19.9998%203.26516%2019.8945%203.51947%2019.707%203.707L10.707%2012.707C10.5195%2012.8945%2010.2652%2012.9998%2010%2012.9998C9.73484%2012.9998%209.48053%2012.8945%209.293%2012.707L6.293%209.707C6.19749%209.61475%206.12131%209.50441%206.0689%209.3824C6.01649%209.2604%205.9889%209.12918%205.98775%208.9964C5.9866%208.86362%206.0119%208.73194%206.06218%208.60905C6.11246%208.48615%206.18671%208.3745%206.28061%208.28061C6.3745%208.18671%206.48615%208.11246%206.60905%208.06218C6.73194%208.0119%206.86362%207.9866%206.9964%207.98775C7.12918%207.9889%207.2604%208.01649%207.3824%208.0689C7.50441%208.12131%207.61475%208.19749%207.707%208.293L10%2010.586L18.293%202.293C18.4805%202.10553%2018.7348%202.00021%2019%202.00021C19.2652%202.00021%2019.5195%202.10553%2019.707%202.293Z%22%20fill%3D%22%2300AEEF%22%2F%3E%3C%2Fsvg%3E');
  padding-right: 15px;
  padding-top: 5px
}

.text-effect span{
  background-color: #F4C817;
  padding: 0 6px
}

.slide-customer .swiper-pagination-bullet,
.slide-news .swiper-pagination-bullet
{
  width: 15px !important;
  height: 15px !important;
}
.slide-customer .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slide-news .swiper-pagination-bullet.swiper-pagination-bullet-active
{
  width: 45px !important;
  border-radius: 9px !important;
}
.slide-customer{
  padding-bottom: 60px !important;
}

.slide-customer .swiper-slide{
  width: auto !important;
}

.slide-news{
  padding-bottom: 60px !important;
  position: relative !important;
}

.slide-news .swiper-pagination {
  position: absolute !important;
  width: auto !important;
}

.slide-news .swiper-button-prev,
.slide-news .swiper-button-next
{
  position: absolute !important;
  bottom: 0 !important;
  top: auto !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  display: flex;
  background-color: #00AEEF;
}

.slide-news .swiper-button-prev{
  left: unset !important;
  right: 70px !important;
}

.slide-news .swiper-button-next:after, 
.slide-news .swiper-button-prev:after{
  font-size: 15px !important;
  color: #ffffff !important
}

.swiper-pagination-bullet-active{
  background: #00AEEF !important;
}